@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
/* font-family: 'Roboto Condensed', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
}
html .map {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #BFDCAE;
  font-size: 2.5rem;
}

header {
  z-index: 1;
  background-color: #206A5D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
header a {
  color: #BFDCAE;
}
header ul {
  list-style: none;
}
header img {
  width: 100px;
  margin-top: 1px;
  margin-left: 1px;
}
header nav {
  background-color: #206A5D;
  font-size: 2rem;
  width: 50%;
}
header nav ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
header nav ul :hover {
  color: black;
  text-decoration: underline;
  transition: 1.5s;
}

main .banner {
  background-image: url(../Medios/banner.jpg);
  background-size: cover;
  height: 500px;
  color: rgb(156, 255, 46);
  text-shadow: 3px 2px 16px rgb(0, 0, 0);
  text-align: center;
  padding: 150px;
}
main .banner p {
  font-size: 2.5rem;
}
main .tituloBanner {
  font-size: 5rem;
}
main img {
  width: 444px;
}
main section {
  margin-bottom: 20px;
}
main h1 {
  text-decoration: underline;
  font-size: 4rem;
  text-align: center;
  z-index: 2;
}
main h2 {
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
  padding: 30px;
  margin: 20px;
}
main h3 {
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
  padding: 30px;
}
main p {
  text-align: center;
  padding: 7px;
}

.mail .form-control {
  width: 100%;
  font-size: 2rem;
  display: block;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}
.mail .form-label {
  width: 100%;
  font-size: 2rem;
}
.mail input {
  border: #BFDCAE;
}
.mail input:focus {
  border: #206A5D 4px dotted;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
form section .mail {
  margin-bottom: 5px;
}
form section .mail label {
  margin-bottom: 5px;
}
form input[type=submit] {
  align-self: flex-start;
}

/*imagenes*/
.moto {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.telefono {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sintacc {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.nutricion {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

/* Carousel pagina Nosotros */
.contenedor-grid img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.contenedor-grid {
  display: grid;
  /*Definir areas*/
  grid-template-areas: "mostrador1 texto1 texto1" "mostrador1 mostrador2 mostrador2" "texto2 mostrador3 texto3";
  /*ancho de cada columna*/
  grid-template-columns: 400px 450px 400px;
  /*ancho de cada fila*/
  grid-template-rows: 600px 500px 500px;
  /*Acomodar a los hijos*/
  justify-items: center;
  align-items: center;
  /*acomodar grilla*/
  justify-content: center;
  /*espacios entre filas y columnas*/
  row-gap: 2px;
  -moz-column-gap: 2px;
       column-gap: 2px;
}

.grid-img-1 {
  grid-area: mostrador1;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-img-3 {
  grid-area: mostrador2;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-img-2 {
  grid-area: mostrador3;
}

.grid-texto-3 {
  grid-area: texto3;
}

.contenedor-grid p {
  text-align: justify;
  margin: 0 25px;
  color: black;
}

.carousel-control-prev {
  z-index: 0;
}

.carousel-control-next {
  z-index: 0;
}

.carousel-indicators {
  z-index: 0;
}

footer {
  font-size: 25px;
  list-style: none;
  background-color: #206A5D;
  margin-top: 30px;
  padding: 20px;
}
footer ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: disc;
}
footer li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}
footer h2 {
  font-size: 3rem;
  text-decoration: underline;
  padding: 25px;
}
footer h4 {
  font-size: 3rem;
  text-decoration: underline;
  padding: 25px;
}
footer h4 .nutricion {
  display: flex;
  margin: 20px 0px;
  padding: 10px;
}

.botones {
  width: 25%;
}

@media only screen and (max-width: 1000px) {
  p {
    padding: 11px;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header nav {
    width: 100%;
  }
  header nav a {
    font-size: 15px;
  }
}
.contenedor-grid {
  display: grid;
  grid-template-areas: "mostrador1 texto1 texto1" "mostrador1 mostrador2 mostrador2" "texto2 mostrador3 texto3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.contenedor-grid img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.contenedor-grid p {
  text-align: justify;
  margin: 0 15px;
  color: black;
}
@media screen and (max-width: 1000px) {
  .contenedor-grid {
    grid-template-areas: "mostrador1" "mostrador2" "mostrador3" "texto1" "texto2" "texto3";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
}

.grid-img-1 {
  grid-area: mostrador1;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-img-3 {
  grid-area: mostrador2;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-img-2 {
  grid-area: mostrador3;
}

.grid-texto-3 {
  grid-area: texto3;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.imgsgral {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.botones {
  width: 50%;
}

/*imagenes*/
.moto {
  max-width: 100%;
}

.telefono {
  max-width: 100%;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}/*# sourceMappingURL=estilos.css.map */