@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */

$verde-oscuro: #206A5D;
$verde-claro: rgb(156, 255, 46);
$verde-agua: #BFDCAE;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 62.5%;
    .map{
        width: 50px;
    }
}
body{
    background-color: $verde-agua;
    font-size: 2.5rem;
    
}

header{
    z-index: 1;
    background-color:$verde-oscuro ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    a{
        color:$verde-agua;
       
    }
    ul{
        list-style: none;
    }
     img{
        width: 100px ;
        margin-top: 1px;
        margin-left: 1px;
    }
    nav{
        background-color: $verde-oscuro;
        font-size: 2rem;
        width: 50%;
        ul{ 
            list-style-type:none;
            height: 100% ;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            :hover{
                color: black;
                text-decoration: underline;
                transition: 1.5s;
            }
        }
    }
}       
       
    

main{
    .banner{
        background-image: url(../Medios/banner.jpg);
        background-size: cover;
        height: 500px;
        color: $verde-claro;
        text-shadow: 3px 2px 16px rgba(0,0,0,1);
        text-align: center;
        padding: 150px;
        p{
            font-size: 2.5rem;
         }
    }
    .tituloBanner{
        font-size: 5rem;
        
    }
    img{
        width: 444px;
        
    }
 section{
    margin-bottom: 20px;
 }
  
    h1{
        text-decoration: underline;
        font-size: 4rem;
        text-align: center;
        z-index: 2;
    }
    h2{
        font-size: 3rem;
        text-decoration: underline;
        padding: 30px;
    }
    .imgsgral{  
        width: 50%;
        display: flex;
        margin: 20px 0px;
        padding: 10px;
    } 
    h3{
        font-size: 3rem;
        text-decoration: underline;
        padding: 30px;
    }  
    p{
        padding: 7px;
    }
}

.mail{
    .form-control{
        width: 35%;
        font-size: 2rem;
        display: block;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
    }
    .form-label{
        width: 100%;
        font-size: 2rem;
    }
    input{
        border: $verde-agua;
    }
    input:focus{
        border: $verde-oscuro 4px dotted;
    }
    }
    