@media only screen and (max-width: 480px) {

    header {
        flex-direction: column;
        align-items: center;
    
        nav {
          margin-top: 10px;
    
          ul {
            flex-direction: column;
    
            li {
              margin-right: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}
$mobile-breakpoint: 576px;

.contenedor-grid {
  display: grid;
  grid-template-areas: 
    "mostrador1 texto1 texto1"
    "mostrador1 mostrador2 mostrador2"
    "texto2 mostrador3 texto3";
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: repeat(3, minmax(200px, 1fr)); 
  justify-items: center;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  column-gap: 2px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  p {
    text-align: justify;
    margin: 0 15px; 
    color: black;
    
  }

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-areas: 
      "mostrador1"
      "mostrador2"
      "mostrador3"
      "texto1"
      "texto2"
      "texto3";
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, auto); 
  }
}

.grid-img-1 {
  grid-area: mostrador1;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-img-3 {
  grid-area: mostrador2;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-img-2 {
  grid-area: mostrador3;
}

.grid-texto-3 {
  grid-area: texto3;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.imgsgral {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}