@media only screen and (max-width: 1000px) {
  p{
    padding: 11px;
  }
   header {
    flex-direction: column;
    align-items: flex-start;
        nav{
            width: 100%; 
            a{
              font-size: 15px;
            }
      }
   }
   
   .moto {
    max-width: 80%;
  }
  
  .telefono {
    max-width: 80%;
  }
  
  .sintacc {
    width: 80%;
   }
  
   .nutricion {
    width: 80%;
   }
}

.contenedor-grid {
  display: grid;
  grid-template-areas: 
    "mostrador1 texto1 texto1"
    "mostrador1 mostrador2 mostrador2"
    "texto2 mostrador3 texto3";
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: repeat(3, minmax(200px, 1fr)); 
  justify-items: center;
  align-items: center;
  justify-content: center;
  row-gap: 2px;
  column-gap: 2px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  p {
    text-align: justify;
    margin: 0 15px; 
    color: black; 
  }

  @media screen and (max-width: 1000px) {
    grid-template-areas: 
      "mostrador1"
      "mostrador2"
      "mostrador3"
      "texto1"
      "texto2"
      "texto3";
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, auto); 
  }
 
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.botones {
  width: 50%;
}









